In [1]:
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames
from __future__ import division
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = pd.read_csv("braviant_m.csv")

In [3]:
data = data.dropna(axis=0, how='any')
print(data.shape[0] - data.dropna().shape[0])

0

In [4]:
var_0 = data['var0']
others =  data.drop('var0', axis = 1)
display(others.head(n=1))

   var1  var2  var3   var4  var5  var6  var7 var8  var9 var10  var11  var12
0     0     2   838  96300     0     4   107    N     1     A    893      1

In [5]:
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler()
numerical = ['var1', 'var2', 'var3', 'var4','var5', 'var6','var7','var9', 'var11']
others[numerical] = scaler.fit_transform(others[numerical])

# Show an example of a record with scaling applied
display(others.head(n = 1))

,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12
0,0.0,0.25,0.838839,0.9636,0.0,0.307692,0.107107,N,0.930233,A,0.892893,1

In [6]:
# One-hot encode the data using pandas.get_dummies()
features = pd.get_dummies(others)

# Print the number of features after one-hot encoding
encoded = list(features.columns)
print ("{} total features after one-hot encoding.".format(len(encoded)))

# Print the encoded feature names
print (encoded)

15 total features after one-hot encoding.
['var1', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7', 'var9', 'var11', 'var12', 'var8_N', 'var8_Y', 'var10_A', 'var10_B', 'var10_C']

In [7]:

from sklearn import metrics
from sklearn import linear_model
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold, cross_val_score
from sklearn import svm
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import make_pipeline

import tensorflow as tf
from tensorflow.contrib import learn

C:\Users\Sony VAIO Pro\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Sony VAIO Pro\Anaconda3\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [9]:
# Import train_test_split
from sklearn.cross_validation import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, var_0, test_size = 0.2, random_state = 0)

# Show the results of the split
print ("Training set has {} samples.".format(X_train.shape[0]))
print ("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 76052 samples.
Testing set has 19014 samples.

In [10]:
#Train & evaluate model performance
def train_and_evaluate(model, X, y):
    model.fit(X, y)
    print('Score on training set: {:g}'.format(model.score(X, y)))
    # k-fold cross validation iterator of 5 folds
    cv = KFold(X.shape[0], 5, shuffle=True)
    scores = cross_val_score(model, X, y, cv=cv)
    print('Score using 5-fold cross-validation: {:g} +/- {:g}'.format(np.mean(scores), np.std(scores)*2))

In [11]:
# Ordinary least squares Linear Regression

from sklearn import linear_model
clf_lr = linear_model.LinearRegression()
train_and_evaluate(clf_lr, X_train, y_train.ravel())

Score on training set: 0.0553422
Score using 5-fold cross-validation: 0.0545406 +/- 0.0100963

In [12]:
# Test model prediction on test data
y_pred = clf_lr.predict(X_test)
print('R2 score: {:g}'.format(metrics.r2_score(y_test, y_pred)))
print('Explained variance score: {:g}'.format(metrics.explained_variance_score(y_test, y_pred)))
print('Mean squared error: {:g}'.format(metrics.mean_squared_error(y_test, y_pred)))

R2 score: 0.0500953
Explained variance score: 0.050244
Mean squared error: 0.0242276

In [13]:
forest = RandomForestRegressor()
train_and_evaluate(forest, X_train, y_train)

Score on training set: 0.807951
Score using 5-fold cross-validation: -0.0825194 +/- 0.0314844

In [14]:
# Test model prediction on test data

y_pred = forest.predict(X_test)
print('R2 score: {:g}'.format(metrics.r2_score(y_test, y_pred)))
print('Explained variance score: {:g}'.format(metrics.explained_variance_score(y_test, y_pred)))
print('Mean squared error: {:g}'.format(metrics.mean_squared_error(y_test, y_pred)))

R2 score: -0.0492275
Explained variance score: -0.0489125
Mean squared error: 0.0267608

### Random forest classifier

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
forest_clf = RandomForestClassifier(n_jobs=2, random_state=0)

In [19]:
forest_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [20]:
train_and_evaluate(forest_clf, X_train, y_train)

Score on training set: 0.994793
Score using 5-fold cross-validation: 0.975254 +/- 0.00297097